{% extends "imcmotivator/index.html" %} {% load static %} {% block deletar-pessoa %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-header-title">
                    <h5 class="m-b-10">Home</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/imcmotivator/deletarCadastro/">Deletar Conta</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- [ form-element ] start -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Deletar Conta</h5>
            </div>
            <div class="card-body">
                <form name="form_cad_pessoa" action="/imcmotivator/deletarCadastro/{{pessoa.pk}}/" method="post" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="col-md-4 position-relative">
                        <label for="username" class="form-label">Usuário</label>
                        <div class="input-group">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                            <input type="text" name="username" class="form-control" id="username" aria-describedby="validationTooltipUsernamePrepend" value="{{username}}" required="">
                            <div class="invalid-tooltip">
                                Ops! &#x1F641; Por favor, digite o Usuário corretamente.
                            </div>
                            <div class="valid-tooltip">
                                Campo Usuário preenchido corretamente! &#x1F44D;
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- [ form-element ] end -->
</div>

{% endblock %}